html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
  }

.beschrijving{
    width: 125px;
    height: 200px;
    overflow: auto;
    padding-right: 5px;
    background-color: rgb(222, 222, 222);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkgreen; 
  }

.floatright{
    position: absolute;
    right: 0;
    top: 0;
}
