* {
    box-sizing: border-box;
    overflow: hidden;
}

/* Create three equal columns that floats next to each other */
.column1 {
    padding-left: 6vw;
    padding-right: 1vw;
    float: left;
    width: 32%;
    height: 640px;
    margin-right: 1%;
}
.column2 {
    float: left;
    width: 25%;
    height: 640px;
}
.column3 {
    float: left;
    width: 32%;
    height: 640px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.image1{
    margin-top: 20px;
    width: 100%;
    height: 95%;
    border-radius: 30px;
}

.image2{
    width: 400px;
    height: 525px;
}

.containerwrapper {
    position: relative;
    height: 490px;
    padding: 0;
    margin: 0 auto;
    top: 42%;
    
    left: 50%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  
  .containerwrapper:before {
    content: '';
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, white);
    height: 30%;
    width: calc(100% - 17px);
    pointer-events: none;
  }
  
  .container {
    width: 100%;
    height: 96%;
    overflow-y: scroll;
    padding-right: 10px;
  }

#extrainfo{
    color: grey;
    margin-left: 1vw;
    font-weight: 100;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(245, 245, 245);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(84, 84, 84); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 30, 30); 
  }

  .bi{
    position: absolute;
    font-size: 26px;
    right: 0;
    top: 0;
    padding-top: 15px;
    padding-right: 15px;
    pointer-events: none;
  }

  .title1{
    font-family: social-gothic, sans-serif;
    font-weight: 500;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    list-style: none;
    font-weight: bold;
    color: black;
  }

  .title2{
    font-family: navigo, sans-serif;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 300;
    color: grey;
  }

  .extrainfo1{
    font-family: museo-sans, sans-serif;
    list-style: none;
    margin-top: 27px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 100;
    color: grey;
    
  }

  .extrainfo2{
    font-family: museo-sans, sans-serif;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 100;
    color: grey;
  }

  #imgchat{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 170px;
  }

  #hr1{
    top: 0;
  }
  #hr2{
    top: 0;
  }

  #limais{
    list-style: none;
    padding-bottom: 5px;
    font-weight: bold;
  }