* {
    box-sizing: border-box;
    overflow: hidden;
}

/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 27%;
    height: 650px;
    margin-right: 1%;
}
.column2 {
    float: left;
    width: 25%;
    height: 650px;
}
.column3 {
    float: left;
    width: 32%;
    height: 650px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.image1{
    margin-top: 20px;
    width: 100%;
    height: 96%;
    border-radius: 30px;
}

.image2{
    width: 400px;
    height: 570px;
}

.scrolltext{
    overflow-y: scroll;
    font-size: larger;
    height: 525px;
    margin-left: 1vw;
}

#extrainfo{
    color: grey;
    margin-left: 1vw;
    font-weight: 100;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(245, 245, 245);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(84, 84, 84); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 30, 30); 
  }